.form {
  width: 20%;
  &.ng-valid {
    border: 1px dashed green;
  }
  &-control {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    p {
      display: none;
      height: 30px;
    }
    input.ng-invalid:not(.ng-pristine) {
      background-color: red;

      ~ p {
        display: inline-block;
        color: red;
      }
    }
  }
  &-submit {
    border-color: blue;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
  }
}
